<ngx-carousel
        [inputs]="carouselOne"
        (carouselLoad)="myfunc($event)">
          <ngx-item NgxCarouselItem>
            <img src="assets/images/g6.jpg"/>
          </ngx-item>
          <ngx-item NgxCarouselItem>
            <img src="assets/images/g7.jpg"/>
          </ngx-item>
          <ngx-item NgxCarouselItem>
            <img src="assets/images/g8.jpg"/>
          </ngx-item>
          <button NgxCarouselPrev class='leftRs'>&lt;</button>
          <button NgxCarouselNext class='rightRs'>&gt;</button>
    </ngx-carousel>